<mat-card style="padding: 20px;">
  <div class="link-container">
    <a (click)="volverAPedidos()" class="link-text">&lt; Volver</a>
  </div>
  <div class="container">
    <h1>Atender Pedido</h1>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form *ngIf="orders">
        <mat-form-field class="w-50" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input [(ngModel)]="orders.user.nombre" type="text" name="nombre" matInput disabled>
        </mat-form-field>
        <mat-form-field class="w-50" appearance="fill">
          <mat-label>Apellido</mat-label>
          <input [(ngModel)]="orders.user.apellido" type="text" name="apellido" matInput disabled>
        </mat-form-field>
        <mat-form-field class="w100" appearance="fill">
          <mat-label>DNI/RUC</mat-label>
          <input [(ngModel)]="orders.documento" type="text" name="documento" matInput disabled>
        </mat-form-field>
      </form>
    </div>
  </div>

  <div class="table-container-wrapper" style="display: flex; justify-content: center; margin-top: 40px;">
    <table class="table-container" style="width: 90%; border-collapse: collapse;">
      <thead>
        <tr>
          <th>N°</th>
          <th>Foto</th>
          <th>Producto</th>
          <th>SKU</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Nuevo Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of displayedOrders(); let i = index">
          <td>{{ (currentPage1 - 1) * rowsPerPage1 + i + 1 }}</td>
          <td><img [src]="e.product.imagen" alt="Imagen del producto" class="imagen-producto" style="width: 125px; height: 150px;"></td>
          <td>{{ e.product.nombreProducto }}</td>
          <td>{{ e.product.sku }}</td>
          <td>{{ e.quantity }}</td>
          <td>{{ e.unitPrice | currency:'S/. ':'symbol':'1.2-2' }}</td>
          <td>
            <input
              type="number"
              [(ngModel)]="e.newPrice"
              placeholder="Nuevo Precio"
              (input)="calcularTotalCotizacion()"
              class="form-control"
              style="width: 100%; text-align: center;"
            />
            <div *ngIf="e.newPrice <= e.unitPrice && e.newPrice !== null" style="color: red; font-size: 12px;">
              El nuevo precio debe ser mayor al precio unitario.
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination" style="text-align: center; margin-top: 20px;">
    <button mat-button (click)="prevPage1()" [disabled]="currentPage1 === 1">
      <i class="fa fa-chevron-left"></i> Anterior
    </button>
    <button mat-button (click)="nextPage1()" [disabled]="currentPage1 === totalPages1">
      Siguiente <i class="fa fa-chevron-right"></i>
    </button>
  </div>

  <div style="text-align: center; margin-top: 20px;">
    <p>Precio Total de Cotización</p>
    <p style="font-size: 18px; color: #333;">S/. {{ quotationData.total }}</p>
  </div>

  <div style="display: flex; justify-content: center; gap: 20px; margin-top: 20px;">
    <button mat-button (click)="rechazarSolicitud()" style="background-color: #00CED1; color: white;">
      Rechazar
    </button>
    <button mat-button (click)="EnviarCotizaYDetalles()" style="background-color: #00CED1; color: white;">
      Enviar Cotización y Volver
    </button>
  </div>
</mat-card>
