<mat-card class="p-3">
  <div class="link-container">
    <a (click)="volverANotas()" class="link-text">
      < Volver</a>
  </div>
  <div class="container flex flex-column -mx-2">
    <h1>Agregar nueva nota de crédito</h1>

    <div class="row">
      <div class="col-md-6 mt-3">
        <form novalidate>

          <p>Ingrese el código de factura</p>
          <div class="row">
            <div class="col-10">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Código de Factura</mat-label>
                <input matInput [(ngModel)]="codigoFactura" name="codigoFactura" placeholder="Ingrese el código de factura" />
              </mat-form-field>
            </div>
            <div class="col-2">
              <div class="d-flex justify-content-center align-items-center h-full" style="margin-top: 10px; margin-bottom: 10px;">
                <button type="button" class="fw-normal btn btn-dark rounded w-100 py-2"
                  (click)="buscarFacturaPorCodigo()">
                  <div class="d-flex justify-content-between align-items-center gap-1">
                    <i class="fa-solid fa-magnifying-glass" style="color: #ffffff; font-size: 12px;"></i>
                    <span style="color: #ffffff; font-size: 14px">Buscar</span>
                  </div>
                </button>
              </div>
            </div>
          </div>

          @if(busquedaExitosa) {

            <!-- Fields for users -->
            <div class="row">
              <div class="col-10">

                @if (tipoBusqueda === 'ruc') {
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Nombre del Cliente o Empresa</mat-label>
                    <input [ngModel]="usuario.tipoUsuario === 'persona_natural' ? nombreCompleto : usuario.nombre" name="nombreCompleto" type="text" placeholder="Digite el nombre completo" matInput disabled="true"/>
                  </mat-form-field>
                }
              </div>
              <div class="col-2">

                @if (this.usuario.razonSocial !== '' && this.tipoBusqueda === 'razon_social') {
                  <button type="button" class="fw-normal btn btn-dark rounded w-100 py-2" (click)="eliminarCliente()">
                    <div class="d-flex justify-content-between align-items-center gap-1">
                      <i class="fa-solid fa-trash" style="color: #ffffff; font-size: 12px;"></i>
                      <span style="color: #ffffff; font-size: 14px;">Borrar</span>
                    </div>
                  </button>
                }
              </div>
            </div>

            <!-- Additional text field below client name (display only) -->
            <div class="row">
              <div class="col-10">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Campo Adicional</mat-label>
                  <input [(ngModel)]="additionalTextField" name="additionalTextField" type="text" placeholder="Campo de texto adicional" matInput />
                </mat-form-field>
              </div>
            </div>

            <!-- Fields for products -->
            <div *ngIf="notaData.tipo === 'bien'" class="row">
              <div class="col-2">
              </div>
            </div>

            <div *ngIf="selectedProduct" class="row">
              <div class="col-10">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Precio unitario</mat-label>
                  <input type="number" [(ngModel)]="selectedProduct.precio" [ngModelOptions]="{standalone: true}" matInput
                    readonly disabled="true" />
                </mat-form-field>

                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Nuevo precio</mat-label>
                  <input #newPriceInput type="number" [(ngModel)]="selectedProduct.newPrice" name="newPrice"
                    placeholder="Ingrese el nuevo precio" matInput />
                </mat-form-field>

                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Cantidad</mat-label>
                  <input #cantidadInput type="number" [(ngModel)]="selectedProduct.cantidad" name="cantidad"
                    placeholder="Ingrese la cantidad" matInput readonly disabled="true"/>
                </mat-form-field>

                <div class="d-flex justify-content-between align-items-center">
                  <p>Stock disponible: {{ selectedProduct.stock }}</p>
                  <p *ngIf="selectedProduct.newPrice && selectedProduct.cantidad">
                    IGV (18%): S/. {{ (selectedProduct.newPrice * selectedProduct.cantidad * 0.18).toFixed(2) }}
                  </p>
                </div>

                <div class="d-flex justify-content-end mt-1">
                  <button mat-raised-button style="background-color: #00CED1; color: white;" class="px-4 py-2"
                    (click)="agregarDetalleFactura(+newPriceInput.value, +cantidadInput.value)">
                    + Agregar detalle de bien
                  </button>
                </div>
              </div>
            </div>

            <!-- Fields for services -->
            <div *ngIf="notaData.tipo === 'servicio'" class="row">
              <div class="col-10">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Tipo de Servicio</mat-label>
                  <mat-select [(ngModel)]="selectedServiceType.type" name="serviceType">
                    <mat-option [value]="'Mantenimiento Correctivo'">Mantenimiento Correctivo</mat-option>
                    <mat-option [value]="'Mantenimiento Preventivo'">Mantenimiento Preventivo</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Precio</mat-label>
                  <input #servicePriceInput type="number" [(ngModel)]="selectedServiceType.price" name="servicePrice"
                    placeholder="Ingrese el precio" matInput />
                </mat-form-field>

                <div class="d-flex justify-content-end mt-1">
                  <button mat-raised-button style="background-color: #00CED1; color: white;" class="px-4 py-2"
                    (click)="agregarDetalleServicio(+servicePriceInput.value)">
                    + Agregar detalle de servicio
                  </button>
                </div>
              </div>
            </div>
          }
        </form>
      </div>

      <div class="col-md-6">
        <div *ngIf="!busquedaRealizada && allDetails.length === 0" class="text-center mt-3">
          <p>Realice la búsqueda de la factura para poder agregar la nota de crédito</p>
        </div>
        <div *ngIf="busquedaRealizada" class="mt-4 text-center d-flex justify-content-center align-items-center flex-column">
          <mat-spinner diameter="50"></mat-spinner>
          <p class="mt-2">Cargando...</p>
        </div>
        <div *ngIf="detalleProductos.length > 0" style="max-height: 300px; overflow-y: auto;">
          <h3>Productos</h3>
          <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Precio Nuevo</th>
                <th style="width: 20%;">Total</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detalle of detalleProductos; let i = index">
                <td>{{ detalle.nombreProducto }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>S/. {{ getPrecioUnitarioPorProductoId(detalle.productoId) | number:'1.0-2' }}</td>
                <td>S/. {{ detalle.precioUnitario | number:'1.0-2' }}</td>
                <td>S/. {{ detalle.precioTotal | number:'1.0-2' }}</td>
                <td>
                  <i class="fa-solid fa-trash action-icon delete-icon text-danger" (click)="eliminarDetalleProducto(i)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Message or Table for Services -->
        <div *ngIf="detalleServicios.length === 0 && notaData.tipo === 'servicio'" class="text-center my-3">
          <p>Para agregar un servicio complete los campos respectivos</p>
        </div>
        <div *ngIf="detalleServicios.length > 0" style="max-height: 300px; overflow-y: auto;">
          <h3>Servicios</h3>
          <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
              <tr>
                <th>Tipo de Servicio</th>
                <th>Precio</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detalle of detalleServicios; let i = index">
                <td>{{ detalle.tipoServicio }}</td>
                <td>S/. {{ detalle.precioUnitario }}</td>
                <td>
                  <i class="fa-solid fa-trash action-icon delete-icon text-danger" (click)="eliminarDetalleServicio(i)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="detalleProductos.length > 0 || detalleServicios.length > 0" class="mt-4">
          <h3>Resumen</h3>
          <table class="table table-bordered text-center">
            <thead class="table-dark">
              <tr>
                <th>OP Gravadas</th>
                <th>IGV (18%)</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>S/. {{ calcularOpGravadas() | number:'1.0-2' }}</td>
                <td>S/. {{ calcularIgv() | number:'1.0-2' }}</td>
                <td>S/. {{ calcularTotal() | number:'1.0-2' }}</td>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-end mt-4">
            <button mat-raised-button style="background-color: #00CED1; color: white;" class="px-4 py-2"
              (click)="guardarInformacion()">
              Agregar Nota de Crédito
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
