<mat-card>
  
    <h1 class="container">Bienvenido al panel de administrador</h1>
    <div class="dashboard-tabs">
  <span 
    class="dashboard-tab" 
    [ngClass]="{'active-tab': tabSeleccionado === 'mes'}"
    (click)="tabSeleccionado = 'mes'"
  >
    Ultimo mes
  </span>
  <span>|</span>
  <span 
    class="dashboard-tab" 
    [ngClass]="{'active-tab': tabSeleccionado === '6meses'}"
    (click)="tabSeleccionado = '6meses'"
    
    >
    Ultimos 6 meses
  </span>
  <span>|</span>
  <span 
    class="dashboard-tab" 
    [ngClass]="{'active-tab': tabSeleccionado === 'anio'}"
    (click)="tabSeleccionado = 'anio'">
    Ultimo año
  </span>
</div>
<div class="seleccione">
  <div class="mesesyanios">
    <mat-form-field class="selectorr">
    <mat-label >Buscar Ganancia por mes</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="mes" (selectionChange)="actualizarGraficoTipoPago()"required>
         <mat-option *ngFor="let mes of meses" [value]="mes.value">{{ mes.viewValue }}</mat-option>
        <mat-option>

        </mat-option>
      </mat-select>
  </mat-form-field>
  
  <mat-form-field class="selectorr">
    <mat-label>Seleccionar año</mat-label>
    <mat-select [(ngModel)]="selectedYear" (selectionChange)="actualizarGraficoTipoPago()">
      <mat-option *ngFor="let anio of anios" [value]="anio">{{ anio }}</mat-option>
    </mat-select>
</mat-form-field>
</div>
</div>
  <div class='featured'>
    <div class='featuredItem'>
      
     <span class='featuredTitle'>GANANCIA</span>
  <!-- Mostrar GANANCIA mensual -->
  <ng-container *ngIf="tabSeleccionado === 'mes'">
    <div class='featuredMoneyContainer'>
    <div class='featuredMoney'>Monto: {{ getGananciaActual() | currency:'PEN ' }}</div>
    <div class='featuredMoneyRate'>
      {{ getDiferenciaGanancia() >= 0 ? '+' : '' }}{{ getDiferenciaGanancia() | number:'1.0-2' }} Mes antes
    </div>
    </div>
    <span class='featuredSub'>en comparación a otra fecha</span>
  </ng-container>

  <!-- Mostrar GANANCIA en rango -->
  <ng-container *ngIf="tabSeleccionado !== 'mes'">
    <div class='featuredMoney'>Monto: {{ getGananciaPorRango() | currency:'PEN ' }}</div>
  
    <span class='featuredSub'>
      en {{ tabSeleccionado === '6meses' ? 'los últimos 6 meses' : 'el último año' }}
    </span>
  </ng-container>
  

  </div>
    
    <div class='featuredItem'>
      <div class='featuredTitle'>TOP PRODUCTOS VENDIDOS</div>
      <div class='featuredMoney' *ngFor="let prod of getProductosVendidos()">
        {{ prod.nombreProducto }} - {{ prod.cantidad }}
      </div>
      <span class='featuredSub'>de todos nuestro productos</span>
    </div> 
  
  </div>

  <div class='featured'>
    <div class='featuredItem'>
     <span class='featuredTitle'>FACTURAS MÁS CARAS</span>
     
      <div class='featuredMoney' *ngFor="let f of getFacturasMasCaras()">
        {{ f.codigo }} - {{ f.total | currency:'PEN' }}
      </div>
      <span class='featuredSub'>en comparacion con el mes pasado</span>
    </div> 
    
    <div class='featuredItem'>
      <span class='featuredTitle'>CANTIDAD DE FACTURAS</span>
      <!-- Mensual -->
      
    <ng-container *ngIf="tabSeleccionado === 'mes'">
      <div class='featuredMoneyContainer'>
      <div class='featuredMoney'>Facturas: {{ getCantidadFacturasActual() }}</div>
      <div class='featuredMoneyRate'>
        {{ getDiferenciaCantidadFacturas() >= 0 ? '+' : '' }}{{ getDiferenciaCantidadFacturas() }} Mes antes
      </div>
      </div>
      <span class='featuredSub'>en comparación con el mes pasado</span>
    </ng-container>

    <!-- Rango -->
    <ng-container *ngIf="tabSeleccionado !== 'mes'">
      <div class='featuredMoney'>Facturas: {{ getCantidadFacturasPorRango() }}</div>
      <span class='featuredSub'>
        en {{ tabSeleccionado === '6meses' ? 'los últimos 6 meses' : 'el último año' }}
      </span>
    </ng-container>
    
  </div>
  </div>

  <div class="contenedor-flex">
    <div class="elemento-35">
      <div class="calendar-container">
        <h2>{{ getCurrentMonthAndYear() }}</h2>
        <table>
          <thead>
            <tr>
              <th>Dom</th>
              <th>Lun</th>
              <th>Mar</th>
              <th>Mié</th>
              <th>Jue</th>
              <th>Vie</th>
              <th>Sáb</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let week of calendar">
              <ng-container *ngFor="let day of week">
                <td [ngClass]="{'current-day': isCurrentDay(day)}">
                  {{ day !== 0 ? day : '' }}
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="elemento-65">
      <div class='widgetLg'>
        <h3 class='widgetLgTitle'>Listado de Pedidos</h3>
        <div class="tabla-scroll">
        <table class='widgetLgTable'>
          <tr class='widgetLgTr'>
            <th class='widgetLgTh'>Cliente</th>
            <th class='widgetLgTh'>Fecha Emision</th>
            <th class='widgetLgTh'>N° de Pedido</th>
            <th class='widgetLgTh'>Estado</th>
          </tr>
          <tr class='widgetLgTr'*ngFor="let tabla of getTablita()">
            <td>{{tabla.cliente}}</td>
            <td>{{tabla.fecha}}</td>
            <td>{{tabla.codigo}}</td>
            <td>{{tabla.estado}}</td>
            </tr>
          
        </table>
        </div>
      </div>
    </div>
  </div>

</mat-card>
