<mat-card class="p-3">
  <div class="link-container">
    <a (click)="volverACategorias()" class="link-text">
      < Volver</a>
  </div>
  <div class="container flex flex-column -mx-2">
    <h1>Agregar nueva cotización</h1>

    <div class="row">
      <div class="col-md-6">
        <form novalidate>

          <div class="radio-group my-3">
            <mat-radio-group [(ngModel)]="tipoBusqueda" name="tipoBusqueda" (change)="onTipoBusquedaChange()">
              <mat-radio-button class="custom-radio" value="ruc" style="margin-right: 20px">RUC</mat-radio-button>
              <mat-radio-button class="custom-radio" value="razon_social">Razon Social</mat-radio-button>
            </mat-radio-group>
          </div>

          <!-- Fields for users -->
          <div class="row">
            <div class="col-10">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>
                  {{ tipoBusqueda === 'ruc'
                  ? 'Ingrese el RUC del cliente o empresa'
                  : 'Ingrese la razon social de la empresa' }}
                </mat-label>
                <input [(ngModel)]="usuarioInput" name="usuarioId" type="text" placeholder="Digite el RUC de la empresa o razón social" matInput (input)="onUsuarioInputChange()" />
              </mat-form-field>
              <div *ngIf="tipoBusqueda === 'razon_social' && filteredSuggestions.length > 0" class="autocomplete-dropdown" style="position: absolute; z-index: 1000; background: white; border: 1px solid #ccc; width: 100%; max-height: 150px; overflow-y: auto; max-width: 520px; margin-top: -20px">
                <div *ngFor="let suggestion of filteredSuggestions" class="autocomplete-item" (click)="selectSuggestion(suggestion)" style="padding: 8px; cursor: pointer;">
                  {{ suggestion }}
                </div>
              </div>

              @if (tipoBusqueda === 'ruc') {
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Nombre del Cliente o Empresa</mat-label>
                  <input [ngModel]="usuario.tipoUsuario === 'persona_natural' ? nombreCompleto : usuario.nombre + ' ' + usuario.apellido" name="nombreCompleto" type="text" placeholder="Digite el nombre completo" matInput disabled="true"/>
                </mat-form-field>
              }
            </div>
            <div class="col-2">
              @if (tipoBusqueda === 'ruc') {
                <button type="button" class="fw-normal btn btn-dark rounded w-100 py-2" (click)="tipoBusqueda === 'ruc' ? buscarClientePorRuc() : buscarClientePorRazonSocial()">
                  <div class="d-flex justify-content-between align-items-center gap-1">
                    <i class="fa-solid fa-magnifying-glass" style="color: #ffffff; font-size: 12px;"></i>
                    <span style="color: #ffffff; font-size: 14px;">Buscar</span>
                  </div>
                </button>
              }
              @if (this.usuario.nombre !== '' && this.tipoBusqueda !== 'ruc' && usuarioInput !== '') {
                <button type="button" class="fw-normal btn btn-dark rounded w-100 py-2" (click)="eliminarCliente()">
                  <div class="d-flex justify-content-between align-items-center gap-1">
                    <i class="fa-solid fa-trash" style="color: #ffffff; font-size: 12px;"></i>
                    <span style="color: #ffffff; font-size: 14px;">Borrar</span>
                  </div>
                </button>
              }
            </div>
          </div>

          <!-- Fields for quotations -->
          <div class="row">
            <div class="col-10">

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Divisa</mat-label>
                    <mat-select [(ngModel)]="cotizacionData.divisa" name="divisa">
                      <mat-option [value]="'Soles'">Soles</mat-option>
                      <mat-option [value]="'Dolares'">Dólares</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Tipo de Pago</mat-label>
                    <mat-select [(ngModel)]="cotizacionData.tipoPago" name="tipoPago">
                      <mat-option [value]="'Contado'">Contado</mat-option>
                      <mat-option [value]="'Credito'">Crédito</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="d-flex justify-content-center align-items-center h-full" style="margin-top: 10px; margin-bottom: 5px;">
              </div>
            </div>

            @if(cotizacionData.tipoPago === 'Credito') {
              <div style="display: flex; align-items: center;">
                <div style="flex-grow: 1;">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Ingresar la cantidad de plazos de pago</mat-label>
                    <input [(ngModel)]="nroPlazos" name="plazos" type="text" placeholder="Ingrese la cantidad de plazos de pago" matInput />
                  </mat-form-field>
                </div>
                <div style="flex-grow: 0; margin-left: 30px; margin-top: -20px;">
                  <button type="button" class="fw-normal btn btn-dark rounded w-100 py-2" style="flex-grow: 1;" (click)="buscarPlazos()">
                    <div class="d-flex justify-content-between align-items-center gap-1">
                      <span style="color: #ffffff; font-size: 14px;">+ Plazos</span>
                    </div>
                  </button>
                </div>
              </div>
            }

            <div class="col-10">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Plazo de Entrega</mat-label>
                    <input matInput [matDatepicker]="plazoEntregaPicker" [(ngModel)]="cotizacionData.plazoEntrega" name="plazoEntrega" [min]="getCurrentDate()" />
                    <mat-datepicker-toggle matSuffix [for]="plazoEntregaPicker"></mat-datepicker-toggle>
                    <mat-datepicker #plazoEntregaPicker [startAt]="getCurrentDate()"></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Validez de Oferta</mat-label>
                    <input matInput [matDatepicker]="validezOfertaPicker" [(ngModel)]="cotizacionData.validezOferta" name="validezOferta" [min]="getCurrentDate()" />
                    <mat-datepicker-toggle matSuffix [for]="validezOfertaPicker"></mat-datepicker-toggle>
                    <mat-datepicker #validezOfertaPicker [startAt]="getCurrentDate()"></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="d-flex justify-content-center align-items-center h-full" style="margin-top: 10px; margin-bottom: 5px;">
              </div>
            </div>
          </div>

          <div class="radio-group mb-3">
            <mat-radio-group [(ngModel)]="cotizacionData.tipo" name="tipo" (change)="onTipoChange()">
              <mat-radio-button class="custom-radio" value="bien" style="margin-right: 20px;">Bien</mat-radio-button>
              <mat-radio-button class="custom-radio" value="servicio">Servicio</mat-radio-button>
            </mat-radio-group>
          </div>

          <!-- Fields for products -->
          <div *ngIf="cotizacionData.tipo === 'bien'" class="row">
            <div class="col-10">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Ingrese el SKU</mat-label>
                <input [(ngModel)]="cotizacionData.productoId" name="productoId" type="text" placeholder="Digite el SKU"
                  matInput />
              </mat-form-field>
            </div>
            <div class="col-2">
              <div class="d-flex justify-content-center align-items-center h-full" style="margin-top: 10px; margin-bottom: 10px;">
                <button type="button" class="fw-normal btn btn-dark rounded w-100 py-2" (click)="buscarProductoPorSku()">
                  <div class="d-flex justify-content-between align-items-center gap-1">
                    <i class="fa-solid fa-magnifying-glass" style="color: #ffffff; font-size: 12px;"></i>
                    <span style="color: #ffffff; font-size: 14px;">Buscar</span>
                  </div>
                </button>
              </div>
            </div>
          </div>          <div *ngIf="selectedProduct" class="row">
            <div class="col-10">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Precio de referencia</mat-label>
                <input type="number" [(ngModel)]="selectedProduct.precio" [ngModelOptions]="{standalone: true}" matInput
                  readonly disabled="true" />
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Precio unitario</mat-label>
                <input #precioUnitarioInput type="number" [(ngModel)]="selectedProduct.precioUnitario" name="precioUnitario"
                  placeholder="Ingrese el precio unitario para la cotización" matInput />
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Cantidad</mat-label>
                <input #cantidadInput type="number" [(ngModel)]="selectedProduct.cantidad" name="cantidad"
                  placeholder="Ingrese la cantidad" matInput />
              </mat-form-field>

              <div class="d-flex justify-content-between align-items-center">
                <p>Stock disponible: {{ selectedProduct.stock }}</p>
                <p *ngIf="selectedProduct.precioUnitario && selectedProduct.cantidad">
                  Total: S/. {{ (selectedProduct.precioUnitario * selectedProduct.cantidad).toFixed(2) }}
                </p>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p *ngIf="selectedProduct.precioUnitario && selectedProduct.cantidad">
                  IGV (18%): S/. {{ (selectedProduct.precioUnitario * selectedProduct.cantidad * 0.18).toFixed(2) }}
                </p>
              </div>

              <div class="d-flex justify-content-end mt-1">
                <button mat-raised-button style="background-color: #00CED1; color: white;" class="px-4 py-2"
                  (click)="agregarDetalleCotizacion(+precioUnitarioInput.value, +cantidadInput.value)">
                  + Agregar detalle de bien
                </button>
              </div>
            </div>
          </div>

          <!-- Fields for services -->
          <div *ngIf="cotizacionData.tipo === 'servicio'" class="row">
            <div class="col-10">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Tipo de Servicio</mat-label>
                <mat-select [(ngModel)]="selectedServiceType.type" name="serviceType">
                  <mat-option [value]="'Mantenimiento Correctivo'">Mantenimiento Correctivo</mat-option>
                  <mat-option [value]="'Mantenimiento Preventivo'">Mantenimiento Preventivo</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Precio</mat-label>
                <input #servicePriceInput type="number" [(ngModel)]="selectedServiceType.price" name="servicePrice"
                  placeholder="Ingrese el precio" matInput />
              </mat-form-field>

              <div class="d-flex justify-content-end mt-1">
                <button mat-raised-button style="background-color: #00CED1; color: white;" class="px-4 py-2"
                  (click)="agregarDetalleServicio(+servicePriceInput.value)">
                  + Agregar detalle de servicio
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-6">
        <!-- Message or Table for Products -->
        <div *ngIf="detalleProductos.length === 0 && cotizacionData.tipo === 'bien'" class="text-center my-3">
          <p>Para agregar productos debe de buscarlos por SKU</p>
        </div>
        <div *ngIf="detalleProductos.length > 0" style="max-height: 300px; overflow-y: auto;">
          <h3>Productos agregados</h3>
          <table class="table table-bordered table-striped text-center">            <thead class="table-dark">
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th style="width: 20%;">Total</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detalle of detalleProductos; let i = index">
                <td>{{ detalle.nombreProducto }}</td>
                <td>
                  <div class="d-flex justify-content-center align-items-center">
                    <input type="number" [(ngModel)]="detalle.cantidad" (change)="actualizarCantidad(i, detalle.cantidad)" class="form-control text-center" style="width: 60px;" />
                  </div>
                </td>
                <td>S/. {{ detalle.precioUnitario }}</td>
                <td>S/. {{ detalle.totalPrice | number:'1.0-2' }}</td>
                <td>
                  <i class="fa-solid fa-trash action-icon delete-icon text-danger" (click)="eliminarDetalleProducto(i)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Message or Table for Services -->
        <div *ngIf="detalleServicios.length === 0 && cotizacionData.tipo === 'servicio'" class="text-center my-3">
          <p>Para agregar un servicio complete los campos respectivos</p>
        </div>
        <div *ngIf="detalleServicios.length > 0" style="max-height: 300px; overflow-y: auto;">
          <h3>Servicios agregados</h3>
          <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
              <tr>
                <th>Tipo de Servicio</th>
                <th>Precio</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detalle of detalleServicios; let i = index">
                <td>{{ detalle.serviceType }}</td>
                <td>S/. {{ detalle.price }}</td>
                <td>
                  <i class="fa-solid fa-trash action-icon delete-icon text-danger" (click)="eliminarDetalleServicio(i)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="detalleProductos.length > 0 || detalleServicios.length > 0" class="mt-4">
          <h3>Resumen</h3>
          <table class="table table-bordered text-center">
            <thead class="table-dark">
              <tr>
                <th>OP Gravadas</th>
                <th>IGV (18%)</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>S/. {{ calcularOpGravadas() | number:'1.0-2' }}</td>
                <td>S/. {{ calcularIgv() | number:'1.0-2' }}</td>
                <td>S/. {{ calcularTotal() | number:'1.0-2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Section for listing payment terms -->
        <div *ngIf="cotizacionData.tipoPago === 'Credito' && plazoPagoData.length > 0 && (detalleProductos.length > 0 || detalleServicios.length > 0)" class="mt-4">
          <h3>Plazos de Pago</h3>
          <table class="table table-bordered text-center">
            <thead class="table-dark">
              <tr>
                <th>Nro Cuota</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let plazo of plazaPagoTabla">
                <td>{{ plazo.nroCuota }}</td>
                <td>{{ plazo.fechaInicio | date:'dd/MM/yyyy' }}</td>
                <td>{{ plazo.fechaFin | date:'dd/MM/yyyy' }}</td>
                <td>{{ plazo.monto === 0 ? '-' : ('S/. ' + (plazo.monto | number:'1.2-2')) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="(detalleProductos.length > 0 || detalleServicios.length > 0) && ((cotizacionData.tipoPago === 'Contado' && (detalleProductos.length > 0 || detalleServicios.length > 0)) || (cotizacionData.tipoPago === 'Credito' && plazoPagoData.length > 0))" class="d-flex justify-content-end mt-4">
          <button mat-raised-button style="background-color: #00CED1; color: white;" class="px-4 py-2"
            (click)="guardarInformacion()">
            Guardar Cotización
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
